[submodule "resourcepacks/minecraft-jstr"]
	path = resourcepacks/minecraft-jstr
	url = https://github.com/supersaix/minecraft-jstr
[submodule "source/minecraft-natura"]
	path = source/minecraft-natura
	url = https://github.com/supersaix/minecraft-natura
[submodule "source/minecraft-mineralogy"]
	path = source/minecraft-mineralogy
	url = https://github.com/supersaix/minecraft-mineralogy
[submodule "source/minecraft-roguelike"]
	path = source/minecraft-roguelike
	url = https://github.com/supersaix/minecraft-roguelike
[submodule "source/minecraft-familiarfauna"]
	path = source/minecraft-familiarfauna
	url = https://github.com/supersaix/minecraft-familiarfauna
[submodule "source/minecraft-primitive"]
	path = source/minecraft-primitive
	url = https://github.com/supersaix/minecraft-primitive
[submodule "shaderpacks/minecraft-chocapic13-shaders"]
	path = shaderpacks/minecraft-chocapic13-shaders
	url = https://github.com/supersaix/minecraft-chocapic13-shaders
[submodule "source/minecraft-modpack"]
	path = source/minecraft-modpack
	url = https://github.com/supersaix/minecraft-modpack
