[WorldGeneration]

# Cave Root
# Range: 0.1 ~ 1.0; Default: 0.55
CaveRootSpawnProb=0.70
# Range: 0.1 ~ 1.0; Default: 0.55
DriedRootSpawnProb=0.55
# Range: 0.1 ~ 1.0; Default: 0.55
TorchFungiSpawnProb=0.50

# Mineralogy
# Range: 0.0 ~ 63.0; Default: 1.0
NitrateOreSpawnProb=1.0
# Range: 0.0 ~ 63.0; Default: 1.0
PhosphorusOreSpawnProb=1.0
# Range: 0.0 ~ 63.0; Default: 1.0
SulfurOreSpawnProb=1.0

[Natura]

#General Settings
EnableCloudGeneration=False

#Barley Settings
GenerateWildeBarley=True
GrassContainsBarleySeeds=True

#Cotton Settings
GenerateWildCotton=True
GrassContainsCottonSeeds=True

#Overworld Berries
BlueberrySpawnProb=34
BlackberrySpawnProb=48
MaloberrySpawnProb=40
RaspberrySpawnProb=30

#Nether Berries
BlightberrySpawnProb=18
DuskberrySpawnProb=18
SkyberrySpawnProb=18
StingberrySpawnProb=18

[EntityControl]

#Natura
HeatScarSpiders=True

#PrimitiveMobs
Mimics=True
SkeletonWarriors=True
SpiderFamilies=True
TreasureSlimes=True

#FamiliarFauna
Deer=True
Pixies=True
Turkeys=True


[Roguelike]
# VeryHigh, High, Normal, Low, VeryLow
DungeonSpawnProb=High

#If helpful features like brewing stands, ender chests, enchanting stations, anvils should generate.
DungeonGenerous=True
#How far apart the rooms should be
DungeonLevelScatter=10
#The distance from the stairs dungeon levels will spread
DungeonLevelRange=80
#The maximum number of rooms that will spawn in a dungeon
DungeonMaximumRooms=40
#A scale of the probability of mob drops. if set to 0 will require looting enchant to get drops.
DungeonLooting=0.085
